{% extends "layout.html" %}

{% block title %}
    Add New Application
{% endblock %}

{% block main %}
    <h1 class="mb-4">Add New Application</h1>
    
    <div class="container">
        <form action="/create" method="post" class="text-start">
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="company" name="company" placeholder="Company*">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="job_title" name="job_title" placeholder="Title*" required>
                </div>
            </div>

            <div class="row mb-3 input-group">
                <div class="col-md-4 input-icon-wrapper salary-box">
                    <span class="currency-prefix">R$</span>
                    <input type="number" class="form-control salary-input" id="salary" name="salary" placeholder="Salary">
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="category" name="category" required>
                        <option value="" disabled selected>Category*</option>
                        {% for cat in categories %}
                            <option value="{{ cat }}">{{ cat }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="text"
                    class="form-control"
                    id="deadline"
                    name="deadline"
                    placeholder="Deadline"
                    onfocus="(this.type='date')"
                    onblur=""if(!this.value)this.type='text'>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <input type="url" class="form-control" id="link" name="link" placeholder="Link">
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a href="/" class="btn btn-secondary">Cancel</a>
            </div>
            
        </form>
    </div>
{% endblock %}