{% extends "layout.html" %}

{% block title %}
    New Job
{% endblock %}

{% block main %}
    <form action="/create" method="post" class="d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center align-items-end gap-2 flex-wrap">
            <div class="mb-3">
                <input required autocomplete="off" autofocus class="form-control" name="company" placeholder="Company" type="text">
            </div>
            <div class="mb-3">
                <input required autocomplete="off" class="form-control" name="job_title" placeholder="Title" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control" name="salary" placeholder="Salary" type="number">
            </div>
            <div class="mb-3">
                <select class="form-select" name="category">
                    <option selected disabled>Category</option>
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control" name="deadline" placeholder="Deadline" type="date">
            </div>
        </div>

        <div class="mt-2">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}