{% extends "layout.html" %}

{% block title %}
    Applications
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Company</th>
                <th>Job Title</th>
                <th>Salary</th>
                <th>Category</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <td class="text-middle">{{ application["date_added"] }}</td>
                    <td class="text-middle text-wrap" style="max-width: 20rem; word-break: break-word">{{ application["company"] }}</td>
                    <td class="text-middle text-wrap" style="max-width: 20rem; word-break: break-word">{{ application["job_title"] }}</td>
                    <td class="text-middle">{{ application["salary"] | brl }}</td>
                    <td class="text-middle">{{ application["category"] }}</td>
                    <td class="text-middle">{{ application["status"] }}</td>
                    <td class="text-middle">{{ application["deadline"] }}</td>
                    <td class="text-end"></td>
                    <td><a href="/edit/{{ application['id'] }}"class="btn btn-sm btn-secondary">Edit</a></td>
                    <td><button class="btn btn-sm btn-danger">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div class="mb-3">
    <form action="/create" method="get">
        <input hidden>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
</div>
{% endblock %}
