{% extends "layout.html" %}

{% block title %}
    Applications
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <th>
                <td>Date</td>
                <td>Company</td>
                <td>Job Title</td>
                <td>Salary</td>
                <td>Category</td>
                <td>Status</td>
                <td>Deadline</td>
                <td>Link</td>
            </th>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <td class="text-start"></td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div class="mb-3">
    <form action="/create", method="get">
        <input hidden>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
</div>
{% endblock %}
