{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <h1 class="mb-4">Register</h1>
    <form method="POST" class="mx-auto" style="max-width: 400px;">
        <div class="mb-3 text-start">
            <label for="username" class="form-label">Username</label>
            <input autofocus autocomplete="off" type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3 text-start">
            <label for="password" class="form-label">Password</label>
            <input type="password" autocomplete="off" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 text-start">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" autocomplete="off" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>

{% endblock %}